    *{
        margin: 0;
        padding: 0;
    }

    html{
        scroll-behavior: smooth;
    }
    
    body{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
        color: white;
    }

    .container {
        max-width: 950px; /* Ancho máximo del contenedor */
        min-width: 300px; /* Ancho mínimo del contenedor */
        margin: 30px auto; /* Alineación al centro */
        padding: 20px; /* Añade espacio de relleno alrededor del contenido */
        border: 1px solid #ccc; /* Borde para visualización */
        
    }

    .container-header .header-header{
        text-align: center;
        width: 500px;
        font-size: 42px;
        margin: 33px;
    }


    .container-header{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 36px;
    }

    .container-nav{
        display: flex;
        justify-content: center;
        background-color: rgba(38, 37, 37, 0.15);
        margin-bottom: 36px;
    }

    .container-nav li{
        transition: all 0.3s ease;
    }

    .container-nav a{
        text-decoration: none;
        color: #00FF00;       
    }

    .container-nav li:hover{
        transform: scale(1.2);
    }

    .container-nav li{
        padding: 16px;
        list-style: none;
        display: inline-block;
    }

    .container-nav .btndark{
        border-radius: 100px;
        background-color: white;
        height: 30px;
        width: 95px;
        color: #00FF00;
        border: none;
        margin: 16px;
        transition: all 0.3s ease;
    }

    .container-nav .btnlight{
        border-radius: 100px;
        border: none;
        width: 95px;
        color: #00FF00;
        height: 30px;
        margin: 16px;
        background-color: white;
        transition: all 0.3s ease;
    }

    .btndark:hover{
        transform: scale(1.15);
    }
    .btnlight:hover{
        transform: scale(1.15);
    }

    .decoration{
        color: #00FF00;
        font-weight: bold;
    }

    .text-header{
        color: #00FF00;
    }



    .container-main .text-header{
        text-align: center;
        margin: 20px;
        font-size: 24px;
    }

    .container-main{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .container .card-container{
        background-color: rgba(22, 22, 22, 0.5);
        margin: 0 auto;
        width: 330px;
        border-radius: 30px;
        padding: 16px;
        height: 100%;
        transition: all 0.3s ease;

    }

    .card-container:hover{
        transform: scale(1.09);
    }
    .card-container:hover{
        background-color: rgba(57, 55, 55, 0.4);
    }
    .aside{
        text-align: center;
    }

    .container-articles{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .title-proyects{
        color: aqua;
        text-align: center;
        font-size: 22px;
        margin: 21px;
    }

    .header-proyects{
        text-align: center;
        color: #00FF00;
        margin: 40px;
        font-size: 40px;
    }

    .space-form{
        margin: 16px;
    }

    .additional-proyects{
        text-align: center;
        margin-bottom: 30px;
    }

    .container-articles a{
        color: #00FF00;
        font-weight: bold;
        
    }

    .container-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 31px;
    }

    .container-ask {
        margin-bottom: 20px;
        border-radius: 10px; 
        overflow: hidden; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        background-color: #191818;
    }
    
    /* Estilos para el resumen */
    .the-ask {
        cursor: pointer;
        font-weight: bold;
        color: #333; /* Cambia el color del texto del resumen */
        padding: 10px 20px; /* Espaciado dentro del resumen */
        background-color: #eaeaea; /* Color de fondo */
        border-bottom: 1px solid #ccc; /* Borde inferior */
    }
    
    /* Estilos para el contenido dentro del detalle */
    .container-ask .text-ask   {
        margin: 0;
        padding: 20px; 
        border-top: 3px solid greenyellow; 
    }
    
    /* Estilos para cuando el detalle está abierto */
    details[open] summary {
        background-color: #ccc; /* Cambia el color de fondo del resumen cuando está abierto */
    }
    .container-articles .proyect{
        background-color: #131212;
        padding: 16px;
        border-radius: 30px;
        max-width: 350px;
        height: 94%;
    }

    .align{
        margin: 0 auto;
    }

    .container-articles .proyect-img{
        width: 330px;
        height: 150px;
        display: block;
        margin: 25px auto;
        border-radius: 20px;
    }

    .imgone{
        aspect-ratio: 11/5;
    }
    .imgtwo{
        aspect-ratio: 230/277;
    }
    .imgthree{
        aspect-ratio: 230/229;
    }
    .imgfour{
        aspect-ratio: 165/71;
    }


    .container-articles .proyect-img2{
        width: 230px;
        height: 277px;
        display: block;
        margin: 25px auto;
        border-radius: 20px;
    }

    .container-articles .proyect-img3{
        width: 230px;
        display: block;
        margin: 25px auto;
        height: 229px;
        border-radius: 20px;
    }

    .container-articles .proyect-img4{
        width: 330px;
        display: block;
        margin: 25px auto;
        height: 142px;
        border-radius: 20px;
    }

    .container-articles .Tecnologias{
        width: 30px;
        height: 30px;
        background-color: rgba(46, 44, 44, 0.9);
        border-radius: 20px;
    }
    .decoration2{
        color: yellow;
        font-weight: bold;
        margin: 6px;
    }
    .container-articles .text-proyects{
        font-weight: 400;
        margin: 6px;
    }

    .content-tecnologias{
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 6px;
    }

    .open-menu, .close-menu{
        display: none;
    }

    @media (max-width:870px){ /*Es como usar <= */
        .open-menu, .close-menu{
            display: block;
        }
        .container-nav{
            opacity: 0;
            visibility: hidden;
        }
        .btndark{
            display: none;
        }
        .btnlight{
            display: none;
        }
    
        .container-nav{
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 16px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: gray;
            padding: 12px;  
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        }

        .container-navlinks{
            display: flex;
            flex-direction: column;
            align-items: end;
        }

        .visible{
            opacity: 1;
            visibility: visible;
        }

        .container {
            max-width: 650px; /* Ancho máximo del contenedor */
            min-width: 300px; /* Ancho mínimo del contenedor */
            margin: 30px auto; /* Alineación al centro */
            padding: 20px; /* Añade espacio de relleno alrededor del contenido */
            border: 1px solid #ccc; /* Borde para visualización */
            
        }
    
        .container-header .header-header{

            width: 81%;
        }
    
        .container-nav li{
            padding: 10px;
            list-style: none;
            display: inline-block;
        }
    
        .container-nav .btndark{
            border-radius: 100px;
            background-color: white;
            height: 30px;
            width: 95px;
            color: #00FF00;
            border: none;
            margin: 16px;
            transition: all 0.3s ease;
        }
    
        .container-nav .btnlight{
            border-radius: 100px;
            border: none;
            width: 95px;
            color: #00FF00;
            height: 30px;
            margin: 16px;
            background-color: white;
            transition: all 0.3s ease;
        }
    
        .btndark:hover{
            transform: scale(1.15);
        }
        .btnlight:hover{
            transform: scale(1.15);
        }
    
        .decoration{
            color: #00FF00;
            font-weight: bold;
        }
    
        .text-header{
            color: #00FF00;
        }
    
    
    
        .container-main .text-header{
            text-align: center;
            margin: 20px;
            font-size: 24px;
        }
    
        .container-main{
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr ;
            gap: 50px;
        }
    
        .container .card-container{
            background-color: rgba(22, 22, 22, 0.5);
            margin: 0 auto;
            width: 60%;
            border-radius: 30px;
            padding: 16px;
            height: 100%;
            transition: all 0.3s ease;
        }
        
        .card-container .text-content{
            width: 98%;
        }

        .card-container:hover{
            transform: scale(1.07);
        }
        .card-container:hover{
            background-color: rgba(57, 55, 55, 0.4);
        }
    
        .container-articles{
            display: grid;
            grid-template-columns: 1fr ;
            gap: 16px;
        }
    
        .title-proyects{
            color: aqua;
            text-align: center;
            font-size: 18px;
        }
    
        .header-proyects{
            text-align: center;
            color: #00FF00;
            margin: 40px;
            font-size: 40px;
        }
    
        .additional-proyects{
            text-align: center;
            margin-bottom: 30px;
        }

        .text-proyects{
            text-align: center;
            margin-bottom: 30px;
        }
    
        .container-articles a{
            color: #00FF00;
            font-weight: bold;
            
        }
    
        .container-articles .proyect{
            background-color: #131212;
            padding: 20px;
            border-radius: 30px;
            max-width: 350px;
            height: 500px;
        }
    
    
        .container-articles .Tecnologias{
            width: 40px;
            height: 40px;
            background-color: rgba(46, 44, 44, 0.9);
            border-radius: 20px;
        }
    
        .container-articles .content-proyects{
            text-align: center;
            margin: 6px;
        }
    
        .content-tecnologias{
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 6px;
        }
    
    }


   